.hg/
.DS_Store
tmp/

# stcon
stcon/eps/
stcon/handover/
stcon/*.toc
stcon/*.aux
stcon/*.log
stcon/*.out
stcon/*.dvi
stcon/*.ps
stcon/*.pdf

# wallbc
wallbc/eps/
wallbc/handover/
wallbc/*.toc
wallbc/*.aux
wallbc/*.log
wallbc/*.out
wallbc/*.dvi
wallbc/*.ps
wallbc/*.pdf
